{
	"arrowParens": "always",
	"bracketSpacing": true,
	"experimentalTernaries": true,
	"jsxSingleQuote": true,
	"printWidth": 120,
	"semi": true,
	"singleQuote": true,
	"trailingComma": "all",
	"useTabs": true
}
